<h1 ng-init="getBooks()">Latest Books</h1>
<div class="card-deck mb-3 text-center">
  <div ng-repeat="book in books">
    <div class="card mb-4 shadow-sm" style="width: 18rem;">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{book.genre}}</h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title">
          {{book.title}}
        </h2>
        <p>{{book.description}}</p>
        <img class="mb-3" ng-src="{{book.image_url}}" alt="" />
        <a
        ng-href="#!books/details/{{book._id}}"
          class="btn btn-lg btn-block btn-outline-primary"
          >View Details</a>
        </button>
      </div>
    </div> 
  </div>
</div>
